<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='附件管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">文件名</label>
                <div class="layui-input-inline">
                    <input name="fileName" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-inline">
                    <!--                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal" onclick="addFile()">新建上传文件</button>

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="fileList" lay-filter="fileTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>

    <!--添加或编辑文件-->
    <div id="setFile" class="layer_self_wrap" style="width:700px;display:none;">
        <form id="msgForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">文件名</label>
                <div class="layui-input-inline" style="width:500px;">
                    <div class="layui-input-inline" style="width: 250px;">
                        <input id="fileName" type="text" name="fileName" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div id="fileDiv" class="layui-form-item">
                <label class="layui-form-label">上传文件</label>
                <div class="layui-input-inline">
                    <button id="fileContent" name="fileContent" type="button" class="layui-btn layui-btn-normal" lay-verify="isUpload">选择文件</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button id="uploadFile" class="layui-btn" lay-submit >上传</button>
                    <button id="formSubmit" class="layui-btn layui-hide" lay-submit lay-filter="formSubmit" >提交</button>
<!--                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/message/attachmentFile.js"></script>

    <style>
        .layui-form-item .layui-input-inline{
            width: 320px;
        }
    </style>

</div>
</body>
</html>