<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.remark.dao.AttachmentFileMapper">
    <resultMap id="BaseResultMap" type="com.bbs.remark.pojo.AttachmentFile">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="original_name" jdbcType="VARCHAR" property="originalName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_content" jdbcType="BLOB" property="fileContent"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_user_id, file_name, original_name, file_path, file_content, create_date
    </sql>

    <insert id="insert" parameterType="com.bbs.remark.pojo.AttachmentFile">
        insert into attachment_file (id, create_user_id, file_name, original_name, file_path, file_content, create_date)
        values (
          #{id}, #{createUserId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{originalName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR},
          #{fileContent,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *  from attachment_file where id = #{id}
    </select>

    <select id="getFiles" resultMap="BaseResultMap">
        SELECT id, file_name
        FROM attachment_file order by create_date desc
    </select>

    <select id="getFileList" resultMap="BaseResultMap">
        SELECT id, create_user_id,file_name,original_name,create_date
        FROM attachment_file
        <where>
            <if test="fileName != null and fileName != '' ">
                and file_name LIKE '%' #{fileName} '%'
            </if>
            <if test="startTime != null and startTime != '' ">
                and create_date &gt;  #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and create_date &lt;  #{endTime}
            </if>
        </where>
        order by create_date desc
    </select>

    <update id="updateFileName">
        update attachment_file set file_name = #{fileName}  where id = #{id}
    </update>

    <delete id="delFile" parameterType="java.lang.Integer">
        delete from attachment_file where id = #{id}
    </delete>

</mapper>